@import '~scss/variables';

* {
  overflow-x: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, sans-serif;

  h1 {
    font-weight: bolder;
  }

  p {
    line-height: 2.95rem;
  }

  button {
    cursor: pointer;

    padding: 2rem 2.7rem;

    font-size: 1rem;
    font-weight: 900;
    color: $background;
    letter-spacing: 0.25rem;

    background: $foreground;
    border: none;
  }
}
