@import '~scss/variables';

.home {
  display: grid;
  grid-template-columns: 1fr 1fr;

  height: 100%;

  background: url('~assets/bghero.png');
  background-size: cover;

  .right-home,
  .left-home {
    align-self: center;
    padding: 0 5rem;
  }

  .left-home {
    font-size: 1.85rem;
    line-height: 5rem;
    letter-spacing: 0.125rem;

    h1 {
      padding-bottom: 2.5rem;
    }
  }

  .right-home {
    z-index: 2;
    font-size: 1.8rem;
    color: $background;
    text-align: right;
  }

  .colored-bg {
    position: absolute;
    z-index: 1;
    top: 0;
    right: -10rem;
    transform: skewX(-15deg);

    width: 60%;
    height: 100vh;

    background: $foreground;
  }
}
