@import '~scss/variables';

.info-section {
  scroll-snap-align: start;

  display: grid;

  height: 100%;

  color: #141414;
  text-align: center;

  background: url('~assets/bghero2.png');
  background-attachment: fixed;
  background-size: cover;

  .center-box {
    display: table;
    place-self: center center;

    width: 60%;
    height: 63vh;
    margin: 0 auto;

    background: $foreground;

    .inner-text {
      display: table-cell;
      align-self: center;
      margin: auto;
      vertical-align: middle;

      h1 {
        margin-bottom: 2rem;
        font-size: 4rem;

        span {
          display: block;
        }
      }

      p {
        font-size: 2rem;
      }
    }
  }
}
